/* custom CSS rules */

/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
  display: none; 

}

.legend-large, .legend-small {
    border-radius: 50%;
}

hr.small, hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;     /* overwrite assembly.css rule */
    margin-top: 8px;            /* overwrite assembly.css rule */
}

.boys {
    color: #e2aa38;
}

.girls {
    color: #539E9E;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    color: #006060;
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.link {
    color: #006060;
}

#girl-legend {
    color: #539E9E;
}

#boy-legend {
    color: #e2aa38;
}
